<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- BootstrapCDN CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="regist">
	<h1>Registro Sorteo</h1>
    <form th:action="@{/registroSorteo}" th:object="${sorteo}" method="post">
    	<input type="text" name="u" placeholder="Nombre" required="required" th:field="*{nombre}" />
    	<input type="date" name="u" placeholder="Fecha"  th:value="*{fecha}" th:field="*{fecha}"/>
        <input type="number" name="u" placeholder="Boletas"  th:field="*{boletas}"/>
        <input type="number" name="u" placeholder="Números" th:field="*{numeros}"/>
        <input type="number" name="u" placeholder="Máximo" th:field="*{maximo}"/>

        <button type="submit" class="btn btn-primary btn-block btn-large">Registrar</button>
    </form>
</div>
</body>
</html>